@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.tasksContainer{
    border-bottom: 2px solid rgba(28, 27, 31, 0.12);
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.wrapper:nth-child(2){
    margin-bottom: 25px;
}

.arrow {
    width:  13%;
    height: 25px;
    background: url('../../../../img/sidebarArrow.svg') no-repeat center;
}
.star {
    /* width: 13%; */
    flex-grow: 1;
    height: 20px;
    background: url('../../../../img/sidebarStar.svg') no-repeat left;
    
}
.house {
    /* width: 13%; */
    flex-grow: 1;
    height: 25px;
    background: url('../../../../img/sidebarHouse.svg') no-repeat;
    background-position: center center;

}
.name {
    flex-grow: 4;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #1C1B1F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.importantTodos {
    background: rgba(89, 70, 210, 0.08);
}
.tasks { 
    background: rgba(89, 70, 210, 0.08);
}
    