
.tasksContainer{
    border-bottom: 2px solid rgba(28, 27, 31, 0.12);
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.wrapper:nth-child(2){
    margin-bottom: 25px;
}

.arrow {
    width:  10%;
    height: 20px;
    background: url('../../../../img/arrowLight.svg') no-repeat center ;
    background-size: 8px;
}
.star {
    width: 13%;
    height: 20px;
    background: url('../../../../img/sidebarStar.svg') no-repeat left;
    
}
.house {
    width: 13%;
    height: 20px;
    background: url('../../../../img/sidebarHouse.svg') no-repeat left;
}
.name {
    width: 70%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.importantTodos {
    background: rgba(89, 70, 210, 0.08);
}
.tasks { 
    background: rgba(89, 70, 210, 0.08);
}
    