
.search[type=search]{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 20px 50px 20px;
    width: 100%;
    border: none;
    background: url('../../../img/searchLightMode.svg') no-repeat left 12px center;
    background-size: 35px;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 30px;
}

