.modalWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
}

.wrapper {
    width: 310px;
    height: 170px;
    background-color: #FFFFFF;
    border-radius: 28px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #1C1B1F;
}

.desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(28, 27, 31, 0.38);
}

.buttons {
   display: flex;
   justify-content: flex-end;
   gap:10px;
}
.cancel{
    width: 89px;
    height: 40px;
    background: inherit;
    border: none;
    color: #5946D2;
    padding: 10px 24px;
    cursor: pointer;
}

.delete { 
    width: 89px;
    height: 40px;
    padding: 10px 24px;
    background: #F85977;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}