
.accountWrapper {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 14px;
    letter-spacing: 0.25px;
}
.nameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}

.userName {
    font-size: 14px;
    line-height: 20px;
}
.userEmail{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}
